form {
    span {
        font-size: 14px;
        width: 100px;
        display: inline-block;
        text-align: right;
    }
    input {
        width: 100px;
    }
    div {
        display: block;
        padding: 5px;
    }
}